<p class="lead">Welcome to the Most Revolutionary Email Service</p>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>From</th>
                <th>Subject</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each}}
            <tr {{action 'showHide'}} class="active">
                <td>{{sender}}</td>
                <td>{{subject}}</td>
                <td>{{date}}</td>
            </tr>
            {{#if isShowing}}
            <tr>
                <td colspan="3">{{body}}</td>
            </tr>
            {{/if}}
            {{/each}}
        </tbody>
    </table>
</div>

<hr/>
